@media(max-width: 768px) {
    .alert-cover {
        .alert-body {
            width: 65%;
        }
    }
    .subscribe {
        .inner-subscribe {
            .sub-form {
                width: 70%;
            }
        }
        .register {
            .inner-register {
                .reg-center {
                    display: inline;
                    margin: 20px;
                }
            }
        }
    }
    .exhibitor-page {
      .inner-exhibitor {
        .ex-detail {
          width: 25%;
          box-shadow: 3px 2px 3px #222;
        }
      }
    }
    .sponsor-page {
        .inner-sponsor {
            li a {
                width: 40%;
                height: 120px;
            }
        }
    }
    .faq-section {
        .faq-header {
            height: 100%;
            .adjust {
                display: none;
            }
            h3 {
                float: none;
                text-align: center;
                margin: 0;
            }
        }
    }
    .faq-body {
        .faq-nav {
            width: 100%;
            padding-left: 50px;
            margin: 10px auto 10px;
            max-height: 3.2em;
            background: #222;
            position: relative;
            ul {
                list-style: none;
                padding: 0;
            }
            li a {
                float: left;
                padding: 13px;
                background:none;
                display: block;
                border: none;
                text-decoration: none;
                &:hover {
                    background: rgb(255,255,255);
                    text-decoration: none;
                    color: red;
                    -webkit-transition: ease 0.5s;
                    -moz-transition: ease 0.5s;
                    -ms-transition: ease 0.5s;
                    -o-transition: ease 0.5s;
                    transition: ease 0.5s;
                }
            }
        }
        .faq-content {
            width: 100%;
            margin-left: 0;
            .inner {
                padding: 1em;
            }
        }
    }
}

@media(max-width: 414px) {
    .faq-body {
        .faq-nav {
            padding-left: 0;
            margin: 10px auto 10px;
            max-height: 6em;
            background: #222;
            position: relative;
        }
    }
    .creativity {
        .inner-creativity {
            padding: 0;
        }
    }
    .subscribe {
        .inner-subscribe {
            padding: 3px;
            h3 {
                margin-top: .9em;
            }
            .sub-form {
                width: 100%;
            }
        }
    }
    .exhibitor-page {
        .inner-exhibitor {
            .col-3 {
                width: 90%;
            }
            .ex-detail {
                width: 50%;
            }
        }
    }
}