/*Action4Dev Colors*/

$theme-deepblue: rgb(2, 33, 64);
$theme-blue: #111111;
//$theme-blue: rgb(49, 176, 213);
$theme-offwhite: #f7f7f7;
$theme-white: #ffffff;
$theme-green: rgb(30,160,60);
$theme-red: rgb(160,40,50);
$action-red: #df0a24;

// $slider_image_path: "../images/slider";
// $image_array: ('');

// @for $i from 1 through 6 {
//     $val: $slider_image_path + "/slider" + $i + ".jpg";
//     $image_array: append($image_array, $val);
// }

// $img: nth($image_array, random(length($image_array)));


$slide: (url('../images/slider/slider1.jpg'),
url('../images/slider/slider2.jpg'),
url('../images/slider/slider3.jpg'),
url('../images/slider/slider4.jpg'),
url('../images/slider/slider5.jpg'),
url('../images/slider/slider6.jpg'));

@mixin addImageToSlide($divName, $image) {
    @for $i from 1 through length($image) {
        .#{$divName}#{$i} {
            background: nth($image, $i) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 100vh;
        }
    }
}